* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.app {
  background-image: url(./assets/cloud.jpg);
    background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}
.app.warm {
  background-image: url(./assets/sun.jpeg);
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 31px;
}
.search-box{
  width: 50%;
  padding: 55px;
 
  
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 90%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -9px;
  margin-left: 351px;
  justify-content: center;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-style: 20px;
  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.location-box .location{
  margin-top: -75px;
  color: #fff;
  font-size: 31px;
  font-weight: 499;
  text-align: center;
  text-shadow: 3px 3px rgba(49, 49, 69, 0.5);
}
.location-box .date {
  color: #fff;
  font-size: 19px;
  font-weight: 311;
  text-align: center;
  text-shadow: 3px 3px rgba(49, 49, 69, 0.5);
  font-style: italic;
}

.weather-box  {
  
  text-align: center;

}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 31px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  padding: 15px 31px;
  color: #fff;
  font-size: 95px;
  font-weight: 911;
  text-shadow: 3px 6px rgba(49, 49, 71, 0.5);
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 699;
  text-shadow: 3px 3px rgba(0,0,0,0.2);
}